
body {
    background-color: rgb(35, 35, 46);
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
header{
    color: yellow;
    font-size: 50px;
    margin: 60px;
}
.main{
    display:flex;
    flex-direction: row;
}

.container{
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    position: relative;
    box-shadow: 0, 0, 10px, 10px, rgba(173, 173, 173, 0.8);
}

.ui {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
}

.sizeButton{
    padding: 0px;
    margin: 0px;
    width: 50%;


}
.colorContainer{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.currentColor{
    width: 64px;
    height: 64px;
}
